# Peer-graded Assignment: Build a Regression Model in Keras

## Concrete Strength Prediction - Part A

### Submitted by: Muhammad Jawad Bashir

**1. Importing Libararies & Dataset**

In [80]:
import pandas as pd
import numpy as np

In [81]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [82]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

**2. Separate into features & labels**

In [83]:
#Let's split the data into predictors and target
cd_columns = concrete_data.columns
predictors = concrete_data[cd_columns[cd_columns != 'Strength']]
target = concrete_data['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [84]:
inp_cols = predictors.shape[1]
inp_cols

8

**3. Defining Keras Regression Model**

In [85]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [86]:
def model_reg():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(inp_cols,)))
    model.add(Dense(1))
    model.compile(optimizer = 'adam', loss='mean_squared_error')
    return model

**4. Running the model for 50 times with given requirements in Assignment Part-A**

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [88]:
mse_list = []
model = model_reg()
for i in range(0,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.30, random_state=42)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test,y_pred)
    mse_list.append(mse)

In [89]:
mse_list

[551.7058283214533,
 237.74461673062677,
 164.8046501551254,
 136.92599748711666,
 121.31386809680937,
 114.4956915293893,
 109.70086410839717,
 111.83651962778309,
 109.65054866271406,
 109.48256987121022,
 109.24120431249622,
 108.52667020927203,
 121.00992962667276,
 108.35478442444393,
 111.04758966070003,
 108.99111798311135,
 108.99526178249639,
 109.03631653010643,
 108.59817705249502,
 108.13420578411103,
 112.42751662703917,
 108.11378802274244,
 107.91619450041212,
 115.70798812971417,
 108.16457689085655,
 116.4443683237181,
 108.72146335919034,
 110.6686735707788,
 108.95219237050469,
 109.81157886223023,
 108.10481171644159,
 77.6113513431882,
 68.10022658197231,
 74.0117356827861,
 67.86594746780752,
 67.49229375552486,
 77.5996761842258,
 74.30488800114199,
 66.20353256063312,
 66.30354460992201,
 66.13631555576626,
 66.90822927397141,
 69.63397223404024,
 67.16878464852188,
 69.83961478553063,
 68.23429531613321,
 66.41891492003246,
 67.10112958706331,
 66.26648227461565,
 76.16134784471897]

**5. MSE mean & Standard Deviation for Task-A**

In [90]:
print('Mean for Task-A: {}'.format(np.mean(mse_list)))
print('Standard Deviation for Task-A: {}'.format(np.std(mse_list)))

Mean for Task-A: 108.15983693915508
Standard Deviation for Task-A: 70.22835073566002